
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-book-open:before { content: '\e801'; } /* '' */
.icon-address-book:before { content: '\e802'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */